// change the theme
$solarized: (
	"base03":	#002b36,
	"base02":	#073642,
	"base01":	#586e75,
	"base00":	#657b83,
	"base0":	#839496,
	"base1":	#93a1a1,
	"base2":	#eee8d5,
	"base3":	#fdf6e3,
	"yellow":	#b58900,
	"orange":	#cb4b16,
	"red":		#dc322f,
	"magenta":	#d33682,
	"violet":	#6c71c4,
	"blue":		#268bd2,
	"cyan":		#2aa198,
	"green":	#859900
);

$theme-colors: (
	"primary":    map-get($solarized, "blue"),
	"secondary":  map-get($solarized, "yellow"),
	"success":    map-get($solarized, "green"),
	"info":       map-get($solarized, "magenta"),
	"warning":    map-get($solarized, "green"),
	"danger":     map-get($solarized, "red"),
	"light":      map-get($solarized, "base3"),
	"dark":       map-get($solarized, "base03")
);

$jumbotron-bg:		map-get($solarized, "base02");
$jumbotron-color:	map-get($solarized, "base2");

$body-bg:			map-get($solarized, "base03");
$body-color:		map-get($solarized, "base3");

$card-bg: 			map-get($solarized, "base02");
$card-color: 		map-get($solarized, "base2");

// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";